body {
	margin: 0px auto; /*Расстояние от края элемента до края окна браузера*/	
}
.header{
	background: url(images/Rectangle.png);
	height: 84px;
	width: 100%;
	position: fixed;
}
.vector{
	float:left;
	height: 45px;
	margin: 20px 0px 19px 50px;
}
.link{
	font-size: 50px;
	float:right;
	margin: 28px 54px 26px 0px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
}
.jumbotron{
	background: url(images/image\ \(1\).png);
	height: 413px;
	width:100%;
	background-size: cover;
	font-family: 'Roboto';
	font-style: normal;
	padding-top: 400px;
	line-height: 84px;
	font-size: 72px;
	font-weight: 500 ;
	color: rgb(255, 255, 255);
	text-align: center;
}
.middle{
	width: 100%;
	height: 719px;
	background: #EEEEEE;	
}
h2{
	width: 100%;
	margin:0;
	padding-top: 48px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	color: #007765;
}
.middle-text{
	width: 100%;
	height: 488px;
	padding-left: 55px;
	padding-right: 54px;
	padding-bottom: 92px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 38px;
	color: #000000;
}
span{
	font-weight: bold;
}

