body {
	margin: 0px auto; /*Расстояние от края элемента до края окна браузера*/	
}
.header{
	background: url(images/Rectangle.png);
	height: 84px;
	width: 1219px;
	position: fixed;
}
.vector{
	float:left;
	height: 45px;
	margin: 20px 0px 19px 50px;
}
.link{
	font-size: 50px;
	float:right;
	margin: 28px 54px 26px 0px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
}
.jumbotron{
	background: url(images/image\ \(1\).png) center no-repeat ;
	height: 403px;
	width: 1219px;
	font-family: 'Roboto';
	font-style: normal;
	padding-top: 160px;
	line-height: 84px;
	font-size: 72px;
	font-weight: 500 ;
	color: rgb(255, 255, 255);
	text-align: center;
}
.middle{
	margin-top: -100px;
	width: 1219px;
	height: 719px;
	background: #EEEEEE;	
}
h2{
	margin:0;
	padding: 48px 54px 0px 55px;
	margin-bottom: -22px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	color: #007765;
}
.middle-text{
	margin-top: 0;
	height: 488px;
	padding: 0px 54px 92px 55px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 38px;
	color: #000000;
}
span{
	font-weight: bold;
}
.hero{
	background: url(images/image\ \(1\).jpg);
	height: 413px;
	width:1219px;
}
